/* http://meyerweb.com/eric/tools/css/reset/
   v5.0.1 | 20191019
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, menu, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
main, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family: inherit;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, main, menu, nav, section {
  display: block;
}

/* HTML5 hidden-attribute fix for newer browsers */
*[hidden] {
  display: none;
}

body {
  line-height: 1;
}

menu, ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html,
body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  background-image: radial-gradient(circle at center, #002129, #000);
  overflow: hidden;
  font-family: "Josefin Sans", sans-serif;
}

.container {
  position: relative;
  background-image: url("./../image/bg.svg");
}
.container::before {
  content: "";
  display: block;
  width: 1287.709px;
  height: 1004.262px;
  background-image: url("./../image/bg-leaf.svg");
  position: absolute;
  top: -55px;
  left: -80px;
}
.container .leaf {
  position: absolute;
  z-index: 10;
}
.container .leaf-01 {
  width: 290.296px;
  height: 197.981px;
  background-image: url("./../image/leaf-01.svg");
  -webkit-transform-origin: top left;
          transform-origin: top left;
  top: -10px;
  left: -50px;
  -webkit-animation: leaf 8s -2s infinite;
          animation: leaf 8s -2s infinite;
}
.container .leaf-02 {
  width: 130.828px;
  height: 131.056px;
  background-image: url("./../image/leaf-02.svg");
  -webkit-transform-origin: top right;
          transform-origin: top right;
  top: -60px;
  right: 325px;
  -webkit-animation: leaf 10s -3s infinite;
          animation: leaf 10s -3s infinite;
}
.container .leaf-03 {
  width: 214.618px;
  height: 225.252px;
  background-image: url("./../image/leaf-03.svg");
  -webkit-transform-origin: top right;
          transform-origin: top right;
  top: 60px;
  right: -60px;
  -webkit-animation: leaf 5s -2s infinite;
          animation: leaf 5s -2s infinite;
}
.container .leaf-04 {
  width: 303.2px;
  height: 356.908px;
  background-image: url("./../image/leaf-04.svg");
  -webkit-transform-origin: bottom left;
          transform-origin: bottom left;
  bottom: -60px;
  left: 0px;
  -webkit-animation: leaf 7s -1s infinite;
          animation: leaf 7s -1s infinite;
}
.container .leaf-05 {
  width: 253.153px;
  height: 292.861px;
  background-image: url("./../image/leaf-05.svg");
  -webkit-transform-origin: bottom right;
          transform-origin: bottom right;
  bottom: -110px;
  right: 660px;
  -webkit-animation: leaf 9s -3s infinite;
          animation: leaf 9s -3s infinite;
}
.container .leaf-06 {
  width: 269.787px;
  height: 346.454px;
  background-image: url("./../image/leaf-06.svg");
  -webkit-transform-origin: bottom right;
          transform-origin: bottom right;
  bottom: -75px;
  right: -40px;
  -webkit-animation: leaf 15s -5s infinite;
          animation: leaf 15s -5s infinite;
}
.container svg {
  opacity: 0;
  pointer-events: none;
}
.container .player {
  width: 175px;
  height: 175px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 11;
}
.container .player::before {
  content: "";
  display: block;
  width: 2px;
  height: 600px;
  margin-left: -1px;
  position: absolute;
  left: 50%;
  bottom: 30px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), to(rgba(255, 255, 255, 0.5)));
  background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.5));
  z-index: 1;
}
.container .player::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
  background-size: contain;
  background-image: url("./../image/frog.svg");
  z-index: 2;
}
.container .player .marble-1,
.container .player .marble-2 {
  position: absolute;
  z-index: 3;
}
.container .player .marble-1 {
  width: 60px;
  height: 60px;
  border-radius: 100px;
  top: -10px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
.container .player .marble-2 {
  width: 20px;
  height: 20px;
  border-radius: 100px;
  left: 50%;
  border: solid 5px #83be7c;
}
.container .player .marble-2:nth-child(2) {
  top: 85px;
  -webkit-transform: translateX(calc(-50% - 30px));
          transform: translateX(calc(-50% - 30px));
}
.container .player .marble-2:nth-child(3) {
  width: 25px;
  height: 25px;
  top: 105px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
.container .player .marble-2:nth-child(4) {
  top: 85px;
  -webkit-transform: translateX(calc(-50% + 30px));
          transform: translateX(calc(-50% + 30px));
}
.container .start-hole {
  width: 100px;
  height: 100px;
  border-radius: 100px;
  background-color: black;
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.container .final-hole {
  width: 100px;
  height: 100px;
  border-radius: 100px;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.marble {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

.shadow {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-image: radial-gradient(circle at center, rgba(0, 33, 41, 0), rgba(0, 0, 0, 0.8));
  z-index: 20;
  pointer-events: none;
}
.shadow::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-image: url("./../image/noise.png");
  position: absolute;
  opacity: 0.1;
}

.github {
  width: 50px;
  height: 50px;
  border-radius: 100px;
  position: absolute;
  top: 40px;
  right: 40px;
  background-color: rgba(255, 255, 255, 0.5);
}
.github a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  color: #002129;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
}

.score {
  position: absolute;
  bottom: 40px;
  right: 40px;
  color: #fff;
  text-align: right;
}
.score .title {
  font-size: 16px;
}
.score .num {
  font-size: 90px;
}

.popup-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  color: #002129;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 19;
  pointer-events: none;
}
.popup-container .popup {
  min-width: 300px;
  padding: 50px 40px 30px;
  border-radius: 30px;
  opacity: 0;
  background-color: rgba(255, 255, 255, 0.8);
  position: absolute;
  -webkit-transform: translateY(20px);
          transform: translateY(20px);
  -webkit-transition: 0.2s;
  transition: 0.2s;
  pointer-events: none;
  z-index: 1;
}
.popup-container .popup::after {
  content: "";
  display: block;
  width: calc(100% - 20px);
  height: calc(100% - 20px);
  border: solid 5px #002129;
  border-radius: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  pointer-events: none;
}
.popup-container .popup .title {
  font-size: 30px;
  text-align: center;
  font-weight: 700;
  margin-bottom: 20px;
  letter-spacing: 1px;
}
.popup-container .popup .info {
  font-size: 16px;
  color: #002129;
  text-align: center;
}
.popup-container .popup .info ul {
  list-style-type: disc;
  padding-left: 1em;
  -moz-text-align-last: left;
       text-align-last: left;
}
.popup-container .popup .info ul li {
  margin-top: 10px;
}
.popup-container .popup .info .num {
  font-size: 24px;
  font-weight: bold;
}
.popup-container .popup .button-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  margin-top: 30px;
}
.popup-container .popup .button-container .button {
  font-size: 20px;
  font-weight: 500;
  color: #fff;
  font-size: 16px;
  text-align: center;
  letter-spacing: 1px;
  background-color: #002129;
  border-radius: 100px;
  padding: 15px 30px 10px;
  cursor: pointer;
}
.popup-container .popup .button-container .button.button-2 {
  padding: 0;
  margin-top: 15px;
  font-size: 14px;
  font-weight: bold;
  color: #002129;
  background-color: transparent;
}
.popup-container .popup.active {
  opacity: 1;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
  pointer-events: auto;
}
.popup-container .popup.active ~ .mask {
  opacity: 1;
}
.popup-container .mask {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  pointer-events: none;
}

@-webkit-keyframes leaf {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes leaf {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}